.questionlist {
    display: flex;
    flex-direction: column;
    width: 400px;
    gap: 0.5em;
    border: 1px solid;
    padding: 1em;
}

.item{
    display: flex;
    flex-direction: column;
}

input{
    max-width: 80%;
}
